.mpwpb-default-template{
    .main{
        width: 100%;
        @media (min-width:1024px) {
            width: 60%;
        }
    }
    .sidebar{
        width: 100%;

        @media (min-width:1024px) {
            width: 40%;
            top: 100px;
            height: auto; 
            overflow-y: auto;
            position: -webkit-sticky;
            position: sticky;
            height: calc(100vh - 100px); 
        }
        [class*="_mpBtn"]{
            padding: 10px;
        }
        .booking-area{
            background-color: #f4f5f8;
        }
        .content {
            display: flex;  
            overflow: auto;
            flex-direction: column;

            .service-items {
                width: 100%; 
                padding: 10px;

                .mpwpb_category_section{
                   
                    margin-bottom: 5px;
                    .mpwpb_item_box{
                        margin: 0;
                        padding:10px;
                        background-color: #fff;
                        
                        align-items: center;
                        color: var(--color_theme);
                        border: 1px solid var(--color_theme_77);
                    }
                    .mpwpb_category_item.mpActive{
                        background-color: var(--color_theme);
                        color: var(--color_theme_alter);
                        h6{
                            font-weight: 700;
                            color: var(--color_theme_alter);
                        }
                        .mpwpb_item_check{
                            position: relative;
                            right: 0;
                            top: 0;
                            background-color: var(--color_theme_alter);
                            color: var(--color_theme);
                            margin: 0;
                        }
                    }
                    .mpwpb_sub_category_area{
                        padding-left: 20px;
                        .mpwpb_sub_category_item{
                            background-color: var(--color_theme_alter);
                            padding: 5px;
                            margin: 5px;
                            &.mpActive{
                                background-color: var(--color_theme_77);
                            }
                        }
                    }
                }
                .mpwpb_service_area{
                    margin-top: 20px;
                    header{
                        background-color: transparent;
                        border-bottom: 1px solid var(--color_theme);
                        padding:10px 0;
                        h5{
                            font-size: 16px;
                            color: var(--color_theme);
                            font-weight: 700;
                            
                        }
                    }
                    .mpwpb_service_item{
                        background-color: #fff;
                        border: 1px solid var(--color_light_2);
                        border-radius: 3px;
                        [data-collapse]{
                            margin-top: 15px;
                            color: #999;
                        }
                        .mpwpb_service_button{
                            color: var(--color_theme);
                            border: 1px solid var(--color_theme);
                            background-color: #fff;
                            min-width: 100px;
                            &:hover{
                                background-color: var(--color_theme);
                                color: var(--color_theme_alter);
                            }
                            &:focus{
                                background-color: var(--color_theme);
                                color: var(--color_theme_alter);
                            }
                            &.mActive{
                                background-color: var(--color_theme);
                                color: var(--color_theme_alter);
                                min-width: 100px;
                                width: 100px;
                            }
                        }
                    }
                }
                .mpwpb_extra_service_area{
                    h5{
                        background-color: transparent;
                        font-size: 16px;
                        color: var(--color_theme);
                        font-weight: 700;
                        padding:10px 0;
                        border-bottom: 1px solid var(--color_theme);
                    }
                    .mpwpb_item_box{
                        background-color: #fff;
                        border-radius: 0;
                    }
                    .mpwpb_extra_service_item{
                        display: block;
                        .service-details{
                            color: #999;
                            padding: 10px 0;
                        }
                        .mpwpb_price_calculation{
                            min-width: 100px;
                            width: 100px;
                            border: 1px solid var(--color_theme);
                            color: var(--color_theme);
                            background-color: var(--color_theme_alter);
                            &:hover{
                                background-color: var(--color_theme);
                                color: var(--color_theme_alter);
                            }
                            &:focus{
                                background-color: var(--color_theme);
                                color: var(--color_theme_alter);
                            }
                            &.mActive{
                                background-color: var(--color_theme);
                                color: var(--color_theme_alter);
                            }
                        }
                        @media (max-width:1024px) {
                            .quantity-box{
                                display: flex;
                                justify-content: space-between;
                                flex-direction: column;
                                gap: 5px;
                            }
                        }
                    }
                }
                .mpwpb_date_carousel{
                    header{
                        background-color: transparent;
                        padding: 10px 0;
                        h3{
                            font-size: 16px;
                            color: var(--color_theme);
                            font-weight: 700;
                        }
                    }
                    .carousel_area{
                        color: var(--color_theme);
                        button{
                            border-radius: 0;
                        }
                    }
                    .mpwpb_date_time_line{
                        .to-book{
                            font-size: 14px;
                            &.mpActive{
                                background-color: var(--color_theme);
                                color: #fff;
                            }
                        }
                        ._mpBtn{
                            border-radius: 0;
                            margin-bottom: 2px;
                        }
                        
                        .booked{
                            font-size: 14px;
                            background-color: var(--color_theme_aa);
                        }
                    }
                }
                #customer_details{
                    margin-bottom: 20px;
                    .col-1{
                        width: 100%;
                    }
                    h3{
                        background-color: transparent;
                        font-size: 16px !important;
                        color: var(--color_theme);
                        font-weight: 700;
                        padding:10px 0;
                        border-bottom: 1px solid var(--color_theme);
                    }
                    label{
                        font-size: 14px;
                        color: #333;
                    }
                    input.input-text{
                        border-color: #d3d3d3;
                    }
                }
                #order_review_heading{
                    font-size: 16px !important;
                    margin-bottom: 10px;
                    color: var(--color_theme);
                }
                #order_review{
                    #payment{
                        background-color: #fff;
                        label{
                            font-size: 14px;
                            color: #333;
                        }
                        .payment_box{
                            background-color: #d3d3d3;
                            &::before{
                                border: 1em solid #d3d3d3;
                                border-right-color: transparent;
                                border-left-color: transparent;
                                border-top-color: transparent;
                            }
                        }
                        #place_order{
                            background-color: var(--color_theme);
                            border: 1px solid var(--color_theme);
                        }
                    }
                }
            }
            .service-cart {
                width: auto; 
                overflow-y: scroll; 
                padding: 10px;
                background-color: #f4f5f8;
                .mpwpb_summary_area_left_content{
                    background-color: transparent;
                    position: relative;
                    .mpwpb_summary_item{
                        // border-left: 1px solid var(--color_theme);
                        border-left: 1px solid var(--color_theme);
                        padding: 0 5px 30px 24px;
                        .mpwpb_item_check{
                            border: 1px solid var(--color_theme);
                            background-color: #fff;
                            color: var(--color_theme);
                        }
                        &:last-child{
                            padding-bottom:0;
                        }
                    }
                }
            }
        } 
        .footer{
            padding: 10px;
            .next_service_area{
                background-color: transparent;
            }
            .next_date_area{
                div:nth-child(1){
                    display: flex;
                    flex-direction: column;
                    h4{
                        margin: 10px auto;
                        order: 0;
                    }
                    button{
                        order: 1;
                        margin: 5px;
                    }
                    
                }
                .mpwpb-total{
                    padding: 0;
                }
            }
        }                       
    }
}
    


