
:root{
    --wtbm-gold:#d4af37;
    --wtbm_bg: #0b0f14;
}
.wtbm_single_movie_body{
    margin:0;
    font-family:Georgia, serif;
    background:radial-gradient(circle at top,#4a141c,#140609);
    color:#f5e6c8;
}
.wtbm_single_movie_wrapper{
    background:var(--wtbm_bg);
    max-width:900px;
    margin:30px auto;
    padding:20px;
    border-radius: 5px;
}
.wtbm_single_movie_title{
    text-align:center;
    color:var(--wtbm-gold);
    font-size:42px;
}
.wtbm_single_movie_subtitle{
    text-align:center;
    letter-spacing:3px;
    font-size:12px;
    color:#c9a74a;
    margin-bottom:30px;
}
.wtbm_single_movie_card{
    /*background:linear-gradient(135deg,#3a1218,#1b070b);*/
    /*border:1px solid #6b4a1f;*/
    border-radius:14px;
    padding:20px;
    margin-bottom:2px;
}
.wtbm_single_movie_card_description{
    display: flex;
    gap: 20px;
    background:linear-gradient(135deg,#3a1218,#1b070b);
    /*border:1px solid #6b4a1f;*/
    border-radius:14px;
    padding:20px;
    margin-bottom:2px;
}
.wtbm_single_movie_movie_title{
    color:var(--wtbm-gold);
    /*font-size:22px;*/
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
}

.wtbm_single_movie_poster img{
    width: 200px;
    height: 250px;
    border-radius: 5px;
}

.wtbm_single_movie_meta{
    font-size:13px;
    opacity:.85;
    margin-top:5px;
    color: #fff;
}
.wtbm_single_movie_section_title{
    color:var(--wtbm-gold);
    margin-bottom:10px;
}
.wtbm_single_movie_options{
    display:flex;
    gap:12px;
    flex-wrap:wrap;
}
.wtbm_single_movie_option{
    border:1px solid #6b4a1f;
    padding:14px 18px;
    border-radius:10px;
    text-align:center;
    cursor:pointer;
    min-width:90px;
    background:rgba(0,0,0,.2);
}
.wtbm_single_movie_option small{
    display:block;
    font-size:11px;
    opacity:.7;
}
.wtbm_single_movie_option.wtbm_active{
    background:var(--wtbm-gold);
    /*color:#000;*/
    font-weight:bold;
}
.wtbm_single_movie_screen{
    text-align:center;
    color:var(--wtbm-gold);
    letter-spacing:3px;
}
.wtbm_single_movie_screen_bar{
    height:4px;
    width:60%;
    margin:10px auto 25px;
    background:linear-gradient(to right,transparent,var(--wtbm-gold),transparent);
}
.wtbm_single_movie_seats{
    display:grid;
    /*grid-template-columns:repeat(10,1fr);*/
    gap:8px;
    /*max-width:500px;*/
    margin:0 auto;
}
.wtbm_single_movie_seat{
    border:1px solid #6b4a1f;
    padding:8px 0;
    text-align:center;
    font-size:11px;
    border-radius:6px;
    cursor:pointer;
    background:rgba(0,0,0,.25);
}
.wtbm_single_movie_seat.wtbm_selected{
    background:#b91c1c;
    color:#fff;
}
.wtbm_single_movie_seat.wtbm_occupied{
    background:#333;
    cursor:not-allowed;
    opacity:.5;
}
.wtbm_single_movie_legend{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:20px;
    font-size:12px;
}
.wtbm_single_movie_summary{
    display:flex;
    /*grid-template-columns:1fr 1fr;*/
    gap:10px;
}
.wtbm_single_movie_total{
    grid-column:span 2;
    font-size:20px;
    color:var(--wtbm-gold);
    margin-top:10px;
}
.wtbm_single_movie_button{
    margin-top:15px;
    width:100%;
    padding:14px;
    border-radius:10px;
    border:1px solid var(--wtbm-gold);
    background:linear-gradient(#a61d2a,#7a121c);
    color:#fff;
    font-size:16px;
    cursor:pointer;
}
.wtbm_single_move_timeSlots{
    display: flex;
    gap: 15px;
}


@media (max-width: 768px) {
    .wtbm_single_movie_card_description {
       flex-direction: column;
    }
}