/*
    Author: Shahadat Hossain
    Email: raselsha@gmail.com 
    Version: 1.0.0
    Descriptoin: this file is main sass file that will compile one main css into /assets/admin/mp_main_settings.css
*/
:root {
  --mage-primary:#f12971;
  --mage-light:#F2F2F2;
  --mage-black: #000;
  --mage-white: #FFFFFF;
  --mage-border: #DDD;
  --mage-light-2: #F9F9F9;
  --mage-dark: #666;
}

.mpStyle button:hover, .mpStyle button:focus {
  text-decoration: none;
  opacity: 0.8;
  background-color: var(--mage-primary);
  color: #FFF;
}

.mpStyle .roundSwitchLabel input:checked + .roundSwitch {
  background-color: var(--mage-primary);
}

/***/
.mpStyle .themeButton, .mpStyle [class*=_themeButton] {
  background-color: var(--mage-primary);
  color: var(--mage-white);
  padding: var(--dMP_xs) var(--dMP);
  border: 2px solid var(--mage-primary);
}

.mpStyle .themeButton span, .mpStyle [class*=_themeButton] span {
  color: var(--mage-white);
}

.mpStyle .themeButton:hover, .mpStyle [class*=_themeButton]:hover {
  background-color: var(--mage-primary);
  color: var(--mage-white);
  border-color: var(--mage-primary);
}

.mpStyle .themeButton:hover span, .mpStyle [class*=_themeButton]:hover span {
  color: var(--mage-white);
}

/****/
div.mpwpb_category_header, div.mpwpb_category_header div.mpwpb_service_area {
  text-align: center;
  background-color: var(--mage-light);
  color: var(--mage-dark);
}

.mpStyle .customCheckbox {
  padding: 3px 0 0 30px;
  position: relative;
  line-height: 1;
  min-width: auto;
  white-space: normal !important;
}

.mpStyle .customCheckbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 20px;
  background-color: var(--mage-white);
  border: 2px solid var(--mage-primary);
  border-radius: 2px;
}

.mpStyle .customCheckboxLabel {
  padding: 0 0 10px 0;
  cursor: pointer;
  font-weight: var(--fw-medium);
  width: 130px;
}

.mpStyle .customCheckboxLabel input:checked ~ .customCheckbox::before {
  background: var(--mage-primary);
}

/******************************************************************** Date picker ************************************************/
@media only screen and (min-width: 10px) {
  #ui-datepicker-div {
    width: 342px;
    border-color: var(--mage-primary);
    padding: 0;
    background-color: #FFF;
  }
  #ui-datepicker-div .ui-datepicker-header {
    background-color: var(--mage-primary);
    background-image: none;
    border-color: var(--mage-primary);
    padding: var(--dMP_xs);
    color: var(--mage-white);
    border-radius: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: var(--fs_h6);
  }
  #ui-datepicker-div .ui-datepicker-header .ui-icon {
    display: none;
  }
  #ui-datepicker-div .ui-datepicker-prev {
    top: var(--dMP_xs);
    left: 5px;
    height: 30px;
    width: 30px;
  }
  #ui-datepicker-div .ui-datepicker-next {
    top: var(--dMP_xs);
    right: 5px;
    height: 30px;
    width: 30px;
  }
  #ui-datepicker-div .ui-datepicker-prev:hover,
  #ui-datepicker-div .ui-datepicker-prev:focus,
  #ui-datepicker-div .ui-datepicker-next:focus,
  #ui-datepicker-div .ui-datepicker-next:hover {
    box-shadow: 0 0 0 2px #FFF, 0 0 2px 1px #FFF;
    outline: 1px solid transparent;
  }
  #ui-datepicker-div .ui-datepicker-header a.ui-datepicker-prev::before,
  #ui-datepicker-div .ui-datepicker-header a.ui-datepicker-next::before {
    position: absolute;
    content: ">";
    color: #FFF;
    left: 10px;
    font-size: var(--fs_h3);
    top: 5px;
    font-weight: bold;
    line-height: 1;
  }
  #ui-datepicker-div .ui-datepicker-header a.ui-datepicker-prev::before {
    content: "<";
  }
  #ui-datepicker-div .ui-datepicker-header .ui-state-hover {
    background-color: var(--mage-primary);
    background-image: none;
    border-color: var(--mage-primary);
  }
  #ui-datepicker-div .ui-state-default {
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: var(--mage-primary);
    font-weight: bold;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  #ui-datepicker-div a.ui-state-default:hover {
    background-color: var(--mage-primary);
    color: var(--mage-white);
  }
  #ui-datepicker-div .ui-state-active {
    background-color: var(--mage-primary);
    color: var(--mage-white);
    background-image: none;
  }
  #ui-datepicker-div .ui-datepicker-title {
    background-color: var(--mage-primary);
    color: var(--mage-white);
    background-image: none;
    font-size: var(--fs_h5);
    display: -webkit-flex;
    display: flex;
    margin: 0;
  }
  #ui-datepicker-div .ui-datepicker-title select {
    min-width: 100px;
    height: 30px;
    font-size: var(--fs);
    padding: 0 var(--dMP_xs);
    text-align: left;
  }
  #ui-datepicker-div.ui-datepicker td {
    background-color: var(--mage-white);
    border: 1px dotted var(--mage-dark);
    padding: 4px 6px;
  }
}
.wp-core-ui select:hover {
  color: var(--mage-primary);
}

#mptrs_meta_box .postbox-header {
  background-color: var(--mage-primary);
}
#mptrs_meta_box .postbox-header .handle-order-higher, #mptrs_meta_box .postbox-header .handle-order-lower, #mptrs_meta_box .postbox-header .toggle-indicator {
  color: #fff;
}
#mptrs_meta_box .mptrs_tab {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
#mptrs_meta_box .mptrs_tab .tabLists {
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: var(--mage-light);
  border: 0;
  padding: 25px 0 25px 25px;
}
#mptrs_meta_box .mptrs_tab .tabLists li {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 15px;
  color: var(--mage-black);
  border-left: 2px solid transparent;
  font-size: 16px;
  margin: 0;
}
#mptrs_meta_box .mptrs_tab .tabLists li i {
  margin: 0 10px 0 0;
  color: var(--mage-primary);
}
#mptrs_meta_box .mptrs_tab .tabLists li.active, #mptrs_meta_box .mptrs_tab .tabLists li:hover {
  background-color: var(--mage-white);
  color: var(--mage-black);
  border-left: 2px solid var(--mage-primary);
  font-weight: normal;
}
#mptrs_meta_box .mptrs_tab .tabLists li.active::after, #mptrs_meta_box .mptrs_tab .tabLists li:hover::after {
  width: 100%;
}
#mptrs_meta_box .mptrs_tab .tabLists li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid var(--mage-border);
  width: 90%;
}
#mptrs_meta_box .mptrs_tab .tabsContent {
  width: 80%;
  padding: 2% 5%;
  overflow: hidden;
}
#mptrs_meta_box .mptrs_tab .tabsContent header {
  margin: 20px 0;
}
#mptrs_meta_box .mptrs_tab .tabsContent header h2 {
  padding: 0;
  color: var(--mage-black);
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
}
#mptrs_meta_box .mptrs_tab .tabsContent section {
  padding: 20px;
  border: 1px solid var(--mage-light);
  margin-top: -1px;
}
#mptrs_meta_box .mptrs_tab .tabsContent section.section {
  background-color: var(--mage-light);
  margin-top: 50px;
}
#mptrs_meta_box .mptrs_tab .tabsContent section.section h2 {
  font-weight: 600;
  color: var(--mage-black);
  padding: 0;
  font-size: 16px;
}
#mptrs_meta_box .mptrs_tab .tabsContent section .label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: normal;
  color: var(--mage-black);
  font-size: 14px;
}
#mptrs_meta_box .mptrs_tab .tabsContent section .label p {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 5px;
  color: var(--mage-black);
}
#mptrs_meta_box .mptrs_tab .tabsContent section .label input, #mptrs_meta_box .mptrs_tab .tabsContent section .label select, #mptrs_meta_box .mptrs_tab .tabsContent section .label textarea {
  width: 360px;
}
#mptrs_meta_box .mptrs_tab .tabsContent section .label span {
  font-size: 14px;
  font-weight: normal;
}
#mptrs_meta_box .required {
  border: 1px solid red;
}

#mptrs_meta_box .mptrs-faq-section .faq-header {
  position: relative;
  z-index: 0;
}
#mptrs_meta_box .mptrs-faq-section .faq-header .faq-action {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
}
#mptrs_meta_box .mptrs-faq-section .faq-header .faq-action span {
  padding: 5px 10px;
  background-color: var(--mage-light);
  color: var(--mage-primary);
  border-radius: 2px;
}
#mptrs_meta_box .mptrs-faq-section .faq-content {
  display: none;
}

#mptrs_meta_box table.table {
  border: 1px solid var(--mage-border);
  border-collapse: collapse;
  overflow: scroll;
}
#mptrs_meta_box table.table thead tr th {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  padding: 10px 5px;
  border-collapse: collapse;
}
#mptrs_meta_box table.table tbody tr {
  height: 40px;
  padding: 5px;
  border: 1px solid var(--mage-light);
}
#mptrs_meta_box table.table tbody tr:nth-child(even) {
  background-color: rgba(249, 249, 249, 0.431372549);
}
#mptrs_meta_box table.table tbody tr td {
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  border-collapse: collapse;
}
#mptrs_meta_box table.table tbody tr td:first-child {
  text-align: center;
}
#mptrs_meta_box table.table tbody tr td:first-child img {
  display: block;
  width: 60px;
  height: 40px;
  object-fit: cover;
  border-radius: 2px;
  border: 1px solid var(--mage-border);
  margin: auto;
}
#mptrs_meta_box table.table tbody tr td:first-child i {
  font-size: 28px;
  border: 1px solid var(--mage-border);
  background-color: var(--mage-light);
  color: var(--mage-dark);
  height: 40px;
  font-size: 36px;
  width: 54px;
  border-radius: 0;
}
#mptrs_meta_box table.table tbody tr td:last-child i {
  color: var(--mage-primary);
  padding: 5px;
  cursor: pointer;
}

.mpwpb-category-lists {
  margin-bottom: 20px;
}
.mpwpb-category-lists .mpwpb-category-items, .mpwpb-category-lists .mpwpb-sub-category-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  border: 1px solid var(--mage-light);
  padding: 5px;
  min-height: 50px;
  cursor: pointer;
  background-color: var(--mage-light);
}
.mpwpb-category-lists .mpwpb-category-items .image-block, .mpwpb-category-lists .mpwpb-sub-category-items .image-block {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.mpwpb-category-lists .mpwpb-category-items .image-block img, .mpwpb-category-lists .mpwpb-sub-category-items .image-block img {
  width: 50px;
  height: 38px;
  object-fit: cover;
  object-position: center;
  border-radius: 0;
}
.mpwpb-category-lists .mpwpb-category-items .image-block i, .mpwpb-category-lists .mpwpb-sub-category-items .image-block i {
  background-color: var(--mage-light);
  font-size: 36px;
  width: 50px;
  height: 100%;
  color: var(--mage-primary);
  text-align: center;
}
.mpwpb-category-lists .mpwpb-category-items .title, .mpwpb-category-lists .mpwpb-sub-category-items .title {
  text-transform: capitalize;
}
.mpwpb-category-lists .mpwpb-category-items .action i, .mpwpb-category-lists .mpwpb-sub-category-items .action i {
  color: var(--mage-dark);
  opacity: 0.6;
  padding: 5px;
  cursor: pointer;
}
.mpwpb-category-lists .mpwpb-category-items .action i:hover, .mpwpb-category-lists .mpwpb-sub-category-items .action i:hover {
  color: var(--mage-primary);
  opacity: 1;
}
.mpwpb-category-lists .mpwpb-sub-category-items {
  background-color: #fff;
  margin-left: 15px;
}
.mpwpb-category-lists .mpwpb-sub-category-items:last-child {
  margin-bottom: 20px;
}

.category-service-area {
  display: flex;
  justify-content: start;
  gap: 20px;
}
.category-service-area .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.category-service-area .header h3 {
  font-weight: 600;
  color: var(--mage-black);
  padding: 0;
  font-size: 16px;
}
.category-service-area .category-container {
  width: 30%;
  border-right: 1px solid var(--mage-border);
  padding-right: 20px;
}
.category-service-area .category-container .header {
  flex-direction: column;
  align-items: start;
  margin-bottom: 10px;
}
.category-service-area .category-container .header button {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  border: 1px solid var(--mage-light);
  min-height: 45px;
  width: 100%;
  border-radius: 0;
  font-weight: normal;
}
.category-service-area .service-container {
  width: 70%;
}

.mptrs-modal-container {
  position: fixed;
  right: -100%; /* Initially hidden off-screen */
  top: 0;
  width: 100%; /* Width of the sidebar */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.1725490196); /* Background color */
  transition: right 0.3s ease; /* Animation effect */
  z-index: 1000; /* Ensure it's above other content */
}
.mptrs-modal-container.open {
  right: 0; /* Slide in */
}
.mptrs-modal-container .mptrs-modal-content {
  background-color: #fff;
  width: 800px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 70px 0px;
}
.mptrs-modal-container .mptrs-modal-content .title {
  padding-left: 40px;
}
.mptrs-modal-container .mptrs-modal-content .mptrs-modal-close {
  position: absolute;
  top: 40px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}
.mptrs-modal-container .mptrs-modal-content .content {
  height: 100%;
  overflow-y: scroll;
  padding: 0 40px;
  padding-bottom: 40px;
}
.mptrs-modal-container .mptrs-modal-content p {
  margin: 15px 0;
}
.mptrs-modal-container .mptrs-modal-content h3 {
  font-size: 18px;
  padding: 0;
  margin: 5px 0;
  margin-bottom: 30px;
}
.mptrs-modal-container .mptrs-modal-content input[type=text], .mptrs-modal-container .mptrs-modal-content input[type=number], .mptrs-modal-container .mptrs-modal-content textarea, .mptrs-modal-container .mptrs-modal-content select {
  width: 100%;
  display: block;
  font-weight: normal;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #dfdfdf;
}
.mptrs-modal-container .mptrs-modal-content label {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  font-weight: normal;
  font-size: 18px;
  gap: 7px;
  margin: 15px 0;
}
.mptrs-modal-container .mptrs-modal-content .mp_add_icon_image_area {
  position: relative;
  max-width: 202px;
  margin: 10px 0;
}
.mptrs-modal-container .mptrs-modal-content .mp_add_icon_image_area .mp_add_icon_image_button_area {
  display: flex;
  flex-direction: row;
  justify-content: start;
  border: 1px solid #8c8f94;
  width: 100%;
  border-radius: 3px;
}
.mptrs-modal-container .mptrs-modal-content .mp_add_icon_image_area .mp_add_icon_image_button_area .mp_image_add, .mptrs-modal-container .mptrs-modal-content .mp_add_icon_image_area .mp_add_icon_image_button_area .mp_icon_add {
  padding: 10px 26px;
  border-radius: 0;
  margin: 1px;
}

