//=================== estra service table============
#mptrs_meta_box{
    table.table{
        border: 1px solid var(--mage-border);
        border-collapse: collapse;
        overflow: scroll;
        thead{
            tr{
                th{
                    text-align: center;
                    font-weight: normal;
                    font-size: 16px;
                    padding: 10px 5px;
                    border-collapse: collapse;
                }
            }
        }
        tbody{
            tr{
                height: 40px;
                padding:5px;
                border: 1px solid var(--mage-light);
                &:nth-child(even){
                    background-color: #F9F9F96E;
                }
                td{
                    font-weight: normal;
                    text-align: center;
                    vertical-align: middle;
                    padding: 5px;
                    border-collapse: collapse;
                    &:first-child{
                        text-align: center;
                        img{
                            display: block;
                            width: 60px;
                            height:40px;
                            object-fit: cover;
                            border-radius:2px;
                            border:1px solid var(--mage-border);
                            margin: auto;
                        }
                        i{
                            font-size: 28px;
                            border: 1px solid var(--mage-border);
                            background-color: var(--mage-light);
                            color: var(--mage-dark);
                            height:40px;
                            font-size: 36px;
                            width: 54px;
                            border-radius: 0;
                        }
                    }
                    
                    &:last-child{
                        i{
                            color: var(--mage-primary);
                            padding:5px;
                            cursor: pointer;
                        }
                    }
                }
                
            }
        }
    }
}